body {
	font-family: Nunito;
	background: linear-gradient(-45deg, #04ADBF, #0388A6, #13335E, #262626, #161619);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

	color: white;

}

h2 {
	color: white;
	font-size: 34px;
}
.navbar {
	margin-bottom: 3rem;
}
.navbar-brand{
	font-family: Nunito;
	font-variant: normal;
	font-weight: 900;
}

.navbar .navbar-brand{
	font-size: 35px;
	margin-left: 20px;
} 

.nav-item {
	font-size: 23px;
}

.logo {
	font-size: 65px;
  outline:none;
}

a{outline:none}

.barra{
	display: flex;
	color: white;
	justify-content: center;
	flex-direction: row;
}
.navbar .menu {
	padding-right: 35px;
}


#inicio {
	justify-content: space-around;
	margin-top: 5rem;
	justify-items: center;
	display: flex;

}

.inicio h1{
	color: #E5E5E5;
	font-weight: bold;
	margin-bottom: 2rem;
}

.inicio img {
	height: 20rem;
}

.sobre {
	display: flex;
	width: 50%s;
	color: white;
	font-size: 27px;
	justify-content: space-evenly;

}

.sobre-mim {
	justify-content: space-between;
	text-align: left;
	width: 50%;
	padding: 2rem;
	padding-top: 3.6rem;
}

.links {
	color: white;
	font-family: Nunito;
	font-size: 24px;
	text-decoration: none;
	padding: 5px;
	outline: none !important;
	border: none !important;


}

.links:hover{
	color: #FFD535;
	outline: none !important;
	border: none !important;

}


/* portfolio */
* {box-sizing:border-box}


.portfoto {
	width: 50%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  /*position: absolute;*/
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 5rem;
}

.active, .dot:hover {
  background-color: rgba(0, 0, 0, 0.0); /* #0388A6 */
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.container{
	padding-top: 2rem;
	justify-content: space-between;
}



.contatos {
	font-size: 35px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.fab {
	font-size: 40px;
}

footer {
	padding-top: 7rem;
	color: white;
}

footer .links {
	font-size: 16px;
}

/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}


/* Botão flutuante */


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 40px;
  border-radius: 100%;
  padding: 5px 15px;
  background-color: #0388A6;
}

#myBtn:hover {
  background-color: #555;
}

.menu-btn {
	padding-right: 25px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;

}

.menu-btn-burger {
	width: 50px;
	height: 6px;
	background: #fff;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 6px;
	background: #fff;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
	transform: translateY(-16px);
}

.menu-btn-burger::after {
	transform: translateY(16px);
}

/* animação  */
.menu-btn.open .menu-btn-burger {
	transform: translateX(-50px);
	background: transparent;
}

.menu-btn.open .menu-btn-burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

.menu {
	float: right;
	justify-content: start;
	flex-direction: column;
	padding-right: 3rem;
	font-size: 45px;
	margin-top: 1rem;
	list-style: none;
	position: fixed;
	margin-left: 80%;
	background: rgba(44, 62, 80, 0.93);
	border-radius: 6px;

}

.menu li a {
	font-size: 40px;
	font-family: 'Nunito';
}


@media (max-width: 990px) {

	.sobre {
		display: flex;
		justify-content: space-between;
		justify-items: center;
		flex-direction: column;
		align-items: center;


	}

	.sobre img {
		width: 50%;
		height: 50%;
		justify-items: center;
		align-items: center;

	}

	.sobre-mim {
		width: 80%;
		justify-content: space-evenly;
	}

	.menu-btn {

		float: left;
		flex-direction: row;
		margin-left: 90%;
		margin-top: -2rem;

	}

	#menu-lista{
		margin-left: -5rem;
	}

	 .portfoto {
	 	width: 80%;
	 }

	
}

@media (max-width: 600px) {

	.menu-btn {

		float: left;
		flex-direction: row;
		margin-left: 80%;
		margin-top: -2rem;


	}

	#menu-lista{
		margin-left: -10rem;
	}
	
}